<header>
  <nav>
    <ul>
      <li><a href="/">usuarios</a></li>
      <li><a href="/tarefas">tarefas</a></li>
      <!-- Adicione outras opções de navegação conforme necessário -->
    </ul>
  </nav>
</header>